/._интернет-магазин бытовой техники ТехноДвор.docx
/._интернет-магазин бытовой техники ТехноДвор.pptx
/._интсрукция.txt
/Методические_рекомендации_Курсовая_КОЛЛЕДЖ.pdf
/интернет-магазин бытовой техники ТехноДвор.docx
/интернет-магазин бытовой техники ТехноДвор.pptx
/интсрукция.txt
/скрины