{% extends 'base.html' %}

{% block text_center %}
    <div class="pagetop-cntnt text-center">
        <h1>О нас</h1>
        <p>В "ТехноДвор" мы стремимся к тому, чтобы каждый клиент чувствовал себя особенным.</p>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename ='img/3.png') }}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img src="{{ url_for('static', filename ='img/4.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>
        <h2 class="mt-5">Почему клиенты выбирают нас?</h2>
        <p class="lead">Наша миссия - делать покупки бытовой техники легкими, приятными и доступными для всех. Доверьтесь нам, и мы сделаем ваш дом еще уютнее и современнее!</p>
        <ul class="list-group mt-4">
            <li class="list-group-item">Широкий ассортимент: Мы предлагаем разнообразие товаров, от ведущих мировых брендов до бюджетных вариантов, чтобы каждый клиент мог найти то, что идеально подходит именно для его потребностей и бюджета.</li>
            <li class="list-group-item">Высокое качество: Мы тщательно отбираем каждый товар, работая только с надежными поставщиками и гарантируя высокое качество каждого товара в нашем ассортименте.</li>
            <li class="list-group-item">Доверие и надежность: Наша компания уже долгие годы занимается продажей бытовой техники, и мы завоевали доверие многих клиентов благодаря превосходному сервису и надежным покупкам.</li>
        </ul>
    </div>
{% endblock %}
